
/* navbar colouring */

.gradient-custom {
  /* fallback for old browsers */
  background: #141313; /* Light gray background (optional) */

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, 
      rgba(255, 167, 209, 0.3), /* Light pink */
      rgba(253, 216, 113, 0.3), /* Light yellow */
      rgba(130, 224, 239, 0.3)  /* Light blue */
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, 
      rgba(255, 167, 209, 0.3), /* Light pink */
      rgba(253, 216, 113, 0.3), /* Light yellow */
      rgba(130, 224, 239, 0.3)  /* Light blue */
  );
}

.navbar a {
  text-decoration: none;
  color: #000; /* Black color */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease-in-out;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); /* Black shadow */
}

/* background colour */


body {
  background-color: rgb(114, 26, 117);
}


/* book */
.book {
  width: 250px;
  height:300px;
  background: #000;
  margin-top: 50px;
  margin-left: 250px;
  perspective: 1000px;
  color:#fff;

}

.cover  {
  width: 210px;
  height: 300px;
  left:40px;
  position: relative;
  transform: rotateY(-20deg) ;
  transform-style:preserve-3d;
  transform-origin:left;
  transition: all .6s;
}

.book:hover .cover {
  transform: rotateY(-180deg) ;
}

figure {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility:hidden;
  font-size:32px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.front  {
  background: rgb(234, 159, 192);
}

.back  {
  background: rgb(252, 247, 107);
  transform: rotateY(180deg);
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size:22px;
  left:5%;
  display:flex;
  align-items:center;
  justify-content:center;
}


.speech-bubble {
  font-family: sans-serif; /* Choose your preferred font */
  padding: 20px;
  border-radius: 5px;
  width: fit-content; /* Adjust width as needed */
  background-color: #fff; /* Set background color */
  position: relative; /* Needed for the tail */
  margin: 10px auto; /* Add some margin */
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #fff transparent transparent transparent; /* Match bubble color */
}

